.front, .back {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%; }

body {
  display: flex;
  justify-content: center;
  align-items: center; }

body {
  height: 100vh;
  width: 100vw;
  perspective: 500px;
  background: url("imgs/p2.png") no-repeat;
  background-size: cover; }

#topPaddind {
  padding: 100px 0 0 0; }

#center {
  margin: 0 25px 20px 150px; }

.card {
  height: 600px;
  width: 400px;
  position: relative;
  transform-style: preserve-3d;
  border-radius: 65em;
  transition: 1.55s;
  /* -webkit- prefix was added to backface-visibility
  //  to be make it compatible with IPhones and IPads
  //-webkit-backface-visibility:hidden;*/ }
  .card:hover {
    transform: rotateY(-180deg); }
  @media (hover: none) {
    .card:active {
      transform: rotateY(-180deg); } }

.front {
  font-family: 'Kaushan Script', sans-serif;
  font-size: 3.2em;
  text-shadow: 2px 2px 3px rgba(173, 166, 166, 0.5);
  border-radius: .65em;
  box-shadow: 0 0 10px #B7E89C;
  background: url("imgs/roses.jpg") no-repeat;
  background-size: cover;
  background-position: -200px;
  color: #970023;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: top; }
  .front span {
    transform: rotate(-20deg);
    padding: 50px; }

.back {
  font-family: 'Kaushan Script', sans-serif;
  font-size: 2em;
  text-shadow: 2px 3px 3px rgba(173, 166, 166, 0.5);
  border-radius: .65em;
  box-shadow: 0 0 25px black;
  background: url("imgs/parchement.jpeg") no-repeat;
  background-size: cover;
  color: #000000;
  z-index: 2;
  transform: rotateY(-180deg);
  -webkit-backface-visibility: hidden;
  display: inline-block; }
  .back p {
    margin: 30px 25px 20px 75px; }
