//CORE SASS File

// PLACEHOLDER

%cardDimensions{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width:  100%;
}

%flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  @extend %flexCenter;

  height: 100vh;
  width: 100vw;
  perspective: 500px;

  background:url('imgs/p2.png') no-repeat;
  background-size: cover;
  //background-color: #9fcaa3;
  //background-image: linear-gradient(132deg, #9fcaa3 0%, #205c2e 64%);




}

//IDs

#topPaddind{
  padding: 100px 0 0 0;
}

#center{
  margin: 0 25px 20px 150px;
}

//CLASSES

.card{
  height: 600px;
  width:  400px;

  position: relative;
  transform-style: preserve-3d;

  border-radius: 65em;

  transition: 1.25s;

  &:hover{
    transform: rotateY(-180deg);
  }
}

.front{
  @extend %cardDimensions;


  font-family: 'Kaushan Script', sans-serif;
  font-size: 3.5em;
  text-shadow: 2px 2px 3px rgba(173,166,166,.5);

  border-radius: .65em;
  box-shadow: 0 0 10px #B7E89C;

  background:url('imgs/roses.jpg') no-repeat;
  background-size: cover;
  background-position: -200px;

  color: #970023;
  z-index: 2;
  backface-visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: top;

  span{
    transform: rotate(-20deg);
    padding: 20px;
  }
}

.back{
  @extend %cardDimensions;

  font-family: 'Kaushan Script', sans-serif;
  font-size: 2em;
  text-shadow: 2px 3px 3px rgba(173,166,166,.5);


  border-radius: .65em;
  box-shadow: 0 0 25px rgb(0,0,0);

  background:url('imgs/parchement.jpeg') no-repeat;
  background-size:cover;

  color: #000000;

  z-index: 3;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
  display:inline-block;

  p{
      margin: 30px 25px 20px 75px;
  }
}
